$fonts-folder: "./src/assets/fonts";

@mixin font-face($family, $nameWeightMap) {
	@each $name, $weight in $nameWeightMap {
		$fontPath: "#{$fonts-folder}/#{$family}/#{$family}-#{$name}";

		@font-face {
			font-family: $family;
			src: url("#{$fontPath}.woff2") format("woff2"),
				url("#{$fontPath}.woff") format("woff");
			font-weight: $weight;
			font-style: normal;
			font-display: swap;
		}
	}
}

@include font-face(
	"LOccitaneSans",
	(
		"Light": 200,
		"Regular": 400,
		"Medium": 500,
		"Bold": 600,
	)
);

@include font-face(
	"LOccitaneSerif",
	(
		"Regular": 400,
		"Bold": 600,
	)
);

@include font-face(
	"HKGrotesk",
	(
		"Light": 200,
		"Regular": 400,
		"Medium": 500,
		"Bold": 600,
	)
);

@include font-face(
	"FuturaStd",
	(
		"Light": 200,
		"Book": 400,
		"Medium": 500,
		"Heavy": 600,
	)
);
